<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Hotel Reservation System</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <!--fontawesome-css-->
    <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true" />
    <!--jquery-ui-css-->
    <link rel="stylesheet" href="~/css/jquery-ui.css" asp-append-version="true" />
    <!--fonts-css-->
	<link href="//fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <a class='manage-reseravtions' href='/Reservation/Index'>View Reservations</a>
        <a href='/Reservation/Create'>Make Reservations</a>
    </header>
    <main role="main">
       @RenderBody()
    </main>
   
  

    <script src="~/js/jquery-ui.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
